body {
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
}

header,
section,
footer {
  transition: background-color 0.3s, color 0.3s;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

a {
  transition: color 0.3s ease;
}

body.bg-dark {
  background-color: #121212;
  color: #ffffff;
}

.bg-dark .navbar,
.bg-dark footer {
  background-color: #1f1f1f;
}

.bg-dark .text-dark {
  color: #ffffff !important;
}

.bg-dark .card {
  background-color: #1f1f1f;
  color: #ffffff;
}

img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.btn {
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


#apropos .circle-background {
  stroke: #f2f2f2; 
}

#apropos .circle-progress {
  stroke-linecap: round; 
  transition: stroke-dashoffset 1s ease-out, stroke 0.5s; 
}

.circle-text {
  font-size: 1.5rem; 
  font-family: 'Pacifico', cursive; 
  fill: #333; 
}


.js-circle {
  stroke: #1e90ff; 
}

.css-circle {
  stroke: #20c997; 
}

.html-circle {
  stroke: #ff5733; 
}

.jq-circle {
  stroke: #ffc107; 
}

.bs-circle {
  stroke: #6f42c1; 
}
